.navbar {
	margin-bottom: 0px;
	background-color: #c0c0c0;
}

.nav-li-text:hover {
	background-color: #2ec1ac;
}

.navbar-collapse-right {
	float: right;
	margin-right: -45px;
}

.header {
	background-image: url('../images/cool-background.png');
	background-color: #f3f0f1;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 200px;
	position: relative;
	padding-top: 50px;
	border-width: 10px;
	border:1px solid black;
}

.title {
	width: 60%;
	position: relative;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 40px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -60%);
}

p.main-p {
	position: relative;
	padding-top: 10px;
	width: 80%;
	text-align: left;
	font-family: 'Crimson Text', serif;
	font-size: 30px;
}

.buttons-navi {
	margin-top: 150px;
	position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button-navi {
    width: 400px;
    height: 100px;
    background-color: #eeeeee;
    position: relative;
    border-radius: 32px;
    margin: 20px 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          		6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #1d2d50;
}

.button-navi span {
	line-height: 100px;
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: 600;
}

.button-navi:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #eeeeee;
    text-decoration: none;
}

.button-navi:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
  			    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #2ec1ac;
    text-decoration: none;
}

.button-navi:focus {
	text-decoration: none;	
}
