.scrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: -20px;
}

.kupi-title {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 30%;
	height: 10%;
	margin-top: 10px;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	padding-top: 10px;
}

.kupi-categories {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	padding-top: 10px;
}

.category-item {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 20px;
	padding: 7px;
	text-align: center;
}

.category-item-left {
	width: 50%;
	float: left;
}

.category-item-right {
	width: 50%;
	float: left;
}

.buttons {
	position: absolute;
	top: 7%;
	width: 20%;
	height: 40px;
	padding-top: 5px;
	padding-left: 10px;
	left: 5%;
}

.button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	background-color: #4eb5f1;
	text-align: center;
	transition: all 0.2s;
}

.button:hover {
	background-color: #4095c6;
}

@media all and (max-width: 30em) {
	.button {
		display:block;
		margin: 0.2em auto;
	}
}
