{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/kupi.css') }}">
{% endblock %}

{% block content_title %}
	Kupi Scrapper - Categories
{% endblock %}

{% block content %}
	{{ super() }}
{% endblock %}

{% block kupi_group %}
<div class="scrapper">
	<div class="container">
	    <div class="row">
	        <div class="col-12">
	        	<table class="table table-bordered">
		            <thead>
		            	<tr>
		            	  	<th scope="col">Category Name</th>
		            	  	<th scope="col">Endpoint</th>
		            	  	<th scope="col">Buttons</th>
		          		</tr>
		        	</thead>
		        	<tbody>
		        		{% for key, value in kupi_components.items() %}
		          		<tr>
	            		    <td><p>{{ key }}</p></td>
	            		    <td><p>{{ value }}</p></td>
	            		    <td>
	            		    	{% if kupi_group == 'categories' %}
	            		    		<a href="{{ url_for('home') }}" class="btn btn-primary">Categories!</a>
	            		    	{% else %}
	            		    		<a href="{{ url_for('home') }}" class="btn btn-primary">Shops!</a>
	            		    	{% endif %}
	            		    </td>
		            	</tr>
		            	{% endfor %}
		        	</tbody>
	      		</table>
	    	</div>
	  	</div>
	</div>
</div>
{% endblock %}