{% extends "base.html" %}

{% block title %}
	Kupi Scrapper
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/kupi.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="scrapper">
	<div class="kupi-title">
		Kupi Scrapper
	</div>
	<div class="kupi-categories">
	{% for key, value in categories.items() %}
		<div class="category-item-left">
			<p class="category-item key">{{ key }}</p>
		</div>
		<div class="category-item-right">
			<p class="category-item value">{{ value }}</p>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
